body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding-top: 10px;
    color: grey;
    font-weight: bold;
}

.cuerpodeweb{
    background-color: black;
}
.cuerpodeweb__titulo{
    text-align: center;
    font-size: xx-large;
}
.cuerpodeweb__parrafo{
    background-color: white;
    text-align: left;
    font-family: monospace;
    font-weight: bold;
    
}

.cuerpodeweb__parrafodos{
    color:yellowgreen;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.cuerpodeweb__parrafotres{
    background-color: white;
    text-align: left;
    font-family: monospace;
}

.cuerpodeweb__img{
    height: auto;
    width: auto;
}

.cuerpodeweb__buttom{
    color: grey;
}

.cuerpodeweb__bottom2{
    color: yellowgreen;
}